In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Datasets/nyc-east-river-bicycle-counts.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           210 non-null    int64
 1   Date                 210 non-null    object
 2   Day                  210 non-null    object
 3   High Temp (°F)       210 non-null    float64
 4   Low Temp (°F)        210 non-null    float64
 5   Precipitation        210 non-null    object
 6   Brooklyn Bridge      210 non-null    float64
 7   Manhattan Bridge     210 non-null    int64
 8   Williamsburg Bridge  210 non-null    float64
 9   Queensboro Bridge    210 non-null    float64
 10  Total                210 non-null    int64
dtypes: float64(5), int64(3), object(3)
memory usage: 18.2+ KB

In [4]:
df_2 = pd.read_csv("../Datasets/nyc-east-river-bicycle-counts-db-export.csv")

In [5]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     1000 non-null   int64
 1   Date                   1000 non-null   object
 2   Day                    1000 non-null   object
 3   High Temp              1000 non-null   float64
 4   Low Temp               1000 non-null   float64
 5   Precipitation          1000 non-null   object
 6   Brooklyn Bridge        1000 non-null   int64
 7   Manhattan Bridge       1000 non-null   int64
 8   Williamsburg Bridge    1000 non-null   int64
 9   Queensboro Bridge      1000 non-null   int64
 10  Total                  1000 non-null   int64
 11  ID.1                   1000 non-null   int64
 12  Date.1                 1000 non-null   object
 13  Day.1                  1000 non-null   object
 14  High Temp.1            1000 non-null   float64
 15  Low Temp.1             1000 non-null   float64
 16  Precipitation.1        1000 non-null   object
 17  Brooklyn Bridge.1      1000 non-null   int64
 18  Manhattan Bridge.1     1000 non-null   int64
 19  Williamsburg Bridge.1  1000 non-null   int64
 20  Queensboro Bridge.1    1000 non-null   int64
 21  Total.1                1000 non-null   int64
dtypes: float64(4), int64(12), object(6)
memory usage: 172.0+ KB

In [6]:
df_2.head(3)

,ID,Date,Day,High Temp,Low Temp,Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,...,Date.1,Day.1,High Temp.1,Low Temp.1,Precipitation.1,Brooklyn Bridge.1,Manhattan Bridge.1,Williamsburg Bridge.1,Queensboro Bridge.1,Total.1
0,15,2016-04-16 00:00:00,2016-04-16 00:00:00,66.0,45.0,0,2384,4316,5624,4051,...,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15,827,1646,2565,1884,6922
1,16,2016-04-17 00:00:00,2016-04-17 00:00:00,73.9,46.0,0,3147,4969,5867,4197,...,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15,827,1646,2565,1884,6922
2,17,2016-04-18 00:00:00,2016-04-18 00:00:00,81.0,52.0,0,3871,6823,7432,4964,...,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15,827,1646,2565,1884,6922